* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 640px;
    height: 608px;
    position: relative;
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: none;
    background-position: 0 0;
}

.background {
    background-image: url('auto.png');
}

.area {
    position: absolute;
    
}

.area:active{
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    background-color: transparent;
    text-decoration: none;
    
}